1. 라이브러리 호출

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import requests
import itertools

In [20]:
user_df = pd.read_csv('user_info.csv',index_col=0) # 유저 고유 아이디 CSV 파일 불러오기

2. 유저 별 고유 아이디를 활용해 유저당 10개의 최근 경기들의 고유 아이디를 조회 및 저장

In [6]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiNzIxNzQ5MzY1IiwiYXV0aF9pZCI6IjQiLCJleHAiOjE3MzExNjIzMDYsImlhdCI6MTY2ODA5MDMwNiwibmJmIjoxNjY4MDkwMzA2LCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.xIrH4OxYb6l_9GpuB4zaHEdAjciZ1en8PhFFOOzAn70'

match_list = []

for i in tqdm(user_df['accessId']):
    
    headers = {'Authorization': api_key}
    
    matchid = requests.get('https://api.nexon.co.kr/fifaonline4/v1.0/users/{}/matches?matchtype={}&offset={}&limit={}'.format(i,50,0,5),headers=headers)
    
    matchid = matchid.json()
    
    match_list.append(matchid) # 10개씩 추가
    
match_list = list(itertools.chain(*match_list)) # 2차원 리스트를 1차원 리스트로 변환
    
match_df = pd.DataFrame(match_list) # 데이터프레임화

100%|██████████████████████████████████████████████████████████████████████████| 10000/10000 [1:17:48<00:00,  2.14it/s]

In [2]:
# match_df = pd.read_csv('match_id.csv',index_col=0)

3. 매치 별 상세 기록들을 불러와 슈팅에 관련된 정보들만을 저장

In [5]:
column_name = ['goalTime',
  'x',
  'y',
  'type',
  'spId',
  'spGrade',
  'spLevel',
  'spIdType',
  'assist',
  'assistSpId',
  'assistX',
  'assistY',
  'hitPost',
  'inPenalty',
  'result']

In [17]:
headers = {'Authorization': api_key}

detail_list = []

for i in tqdm(range(len(match_df))): 
    
    detail_url = 'https://api.nexon.co.kr/fifaonline4/v1.0/matches/{}'.format(match_df['0'][i]) # 한 경기씩 확인
    
    detail = requests.get(detail_url,headers=headers)

    detail = detail.json()
    
    if len(detail) == 1: # 에러 처리
        
        continue
    
    else:
    
        user_len = len(detail['matchInfo'])
                                              
    for k in range(user_len):
        
        user = detail['matchInfo'][k]['shootDetail'] # 해당 경기의 k번째 유저
        
        for s in range(len(user)):
            
            detail_list.append([user[s]['goalTime'], user[s]['x'], user[s]['y'],user[s]['type'], user[s]['spId'], user[s]['spGrade'],user[s]['spLevel'], user[s]['spIdType'], user[s]['assist'],user[s]['assistSpId'],user[s]['assistX'],user[s]['assistY'],user[s]['hitPost'],user[s]['inPenalty'],user[s]['result']])

detail_df = pd.DataFrame(detail_list,columns=column_name)

100%|██████████████████████████████████████████████████████████████████████████| 49945/49945 [2:08:01<00:00,  6.50it/s]

In [18]:
detail_df

,goalTime,x,y,type,spId,spGrade,spLevel,spIdType,assist,assistSpId,assistX,assistY,hitPost,inPenalty,result
0,1883,0.922118,0.396405,6,257243061,6,5,True,True,225242881,0.837338,0.312537,False,True,2
1,2853,0.934114,0.578460,6,247165889,6,5,True,True,225199231,0.986014,0.709782,False,True,3
2,16778137,0.896395,0.379427,6,257243061,6,5,True,True,225242881,0.850902,0.271016,False,True,1
3,852,0.904731,0.543141,6,257243061,6,5,True,True,247165889,0.828391,0.439918,False,True,3
4,16780164,0.864648,0.498410,6,225242881,6,5,True,True,247199266,0.827262,0.597129,False,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617164,1024,0.976523,0.384630,1,221200104,7,5,True,True,252140053,0.603726,0.411718,False,True,3
617165,1731,0.848947,0.431868,2,247199266,5,5,True,True,252140053,0.880984,0.325613,False,True,2
617166,16778883,0.824939,0.432323,1,221200104,7,5,True,True,252140053,0.594933,0.566554,False,False,1
617167,16779019,0.857628,0.557673,2,221200104,7,5,True,True,252003647,0.782179,0.509570,False,True,1
617168,16779024,0.965276,0.543401,7,260181872,5,5,True,False,-1,0.500000,0.500000,False,True,1

In [19]:
# detail_df.to_csv('shoot_info.csv')